<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ '/' | relative_url }}">Welcome!</a></h1>
    </div>

    {% assign home_url = '/' | relative_url %}

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == home_url %} active{% endif %}"
         href="{{ home_url }}">Home</a>

      <a class="sidebar-nav-item{% if page.url == '/cv/' %} active{% endif %}"
         href="{{ '/cv/' | relative_url }}">CV</a>

      <a class="sidebar-nav-item{% if page.url == '/research/' %} active{% endif %}"
         href="{{ '/research/' | relative_url }}">Research</a>

      <a class="sidebar-nav-item{% if page.url == '/teaching/' %} active{% endif %}"
         href="{{ '/teaching/' | relative_url }}">Teaching</a>

      <a class="sidebar-nav-item"
         href="https://github.com/jwilhoite/jwilhoite.github.io" target="_blank" rel="noopener">GitHub</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
